.upper{
  height: 800px;
  border: 1px black;
  margin: 0;
  color: #fff;

  img{
    width: 100vw;
  }

  .doc{
    margin-top: -160px;
    margin-left: 20px;
    padding: 20px 20px;
    h1{
      font-size: 30px;
      opacity: 1;
    }
    p{
      font-size: 16px;
      opacity: 1;
    }
  }
  
}

.lower{
  height: 700px;
  display: flex;
  padding-top: 40px;
  .left{
    width: 30vw;
    padding-left: 6vw;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.4);
     h3 {
      margin-bottom:40px;
    }
    li{
    list-style: none;
    line-height: 30px;
    }
  }
  .center{
    width: 40vw;
    padding-left: 2vw;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.4);
    h2{
      margin-bottom: 40px;
    }
    h3{
      margin-bottom: 12px;
      margin-top: 30px;
    }
    line-height: 30px;
  }
  .right{
    width: 30vw;
    padding-left: 2vw;
    padding-right: 6vw;
    h3{
      margin-bottom: 40px;
    }
    line-height: 30px;
  }
}