@charset "UTF-8";
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", YuGothic;
}

.head {
  width: 100vw;
  height: 500px;
  background-image: url(top2.jpg);
  background-size: cover;
  position: relative;
  -webkit-transform: translate(0, -300px);
          transform: translate(0, -300px);
  opacity: 1;
  -webkit-transition: all .10s ease;
  transition: all .10s ease;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.head.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.head p {
  color: white;
  font-size: 90px;
  letter-spacing: 2vw;
  opacity: 0.6;
  position: absolute;
  top: 40px;
  left: 4vw;
}

.float {
  -webkit-transform: translate(0, 200px);
          transform: translate(0, 200px);
  opacity: 0;
  -webkit-transition: all .10s ease;
  transition: all .10s ease;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.float.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hotelintroduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 300px auto 0 auto;
}

.hotelintroduce .name {
  width: 840px;
  height: 60px;
  color: black;
  font-size: 36px;
  margin: 60px 50px 0 auto;
}

.hotelintroduce .name p {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.5;
  line-height: 26px;
}

.hotelintroduce .pictures {
  width: 440px;
}

.hotelintroduce .pictures .picture {
  height: 300px;
}

.hotelintroduce .pictures .picture img {
  width: 440px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.details {
  width: 1000px;
  height: 600px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details .left {
  margin-right: 100px;
  width: 400px;
  height: 500px;
}

.details .map {
  margin-left: 0px;
}

.details p {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 4px;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2 {
  font-size: 32px;
  line-height: 100px;
  font-weight: 100;
  opacity: 0.7;
}

.arounds {
  width: 1000px;
  margin: -40px auto 0 auto;
}

.arounds p {
  font-size: 20px;
  opacity: 0.7;
  padding-bottom: 20px;
}

.arounds .nearbypictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arounds .nearbypictures .column {
  width: 204px;
  height: 220px;
  margin: 0;
  padding: 0;
}

.arounds .nearbypictures .column p {
  opacity: 0.5;
  font-size: 12px;
}

.arounds img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.arounds .nearby, .arounds .max100m, .arounds .min100m {
  margin-top: 40px;
}

.arounds .nearbypicutres, .arounds .max100mpictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arounds .max100mpictures {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arounds .max100mpictures .column {
  width: 204px;
  height: 224px;
  margin: 0;
  padding: 0;
}

.arounds .max100mpictures .column p {
  opacity: 0.5;
  font-size: 12px;
}

.arounds .max100mpictures img {
  margin: 3px 5px 0 0;
}
/*# sourceMappingURL=each_1.css.map */